body{
    display: flex;
    background-color: #121212;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


h1{
    font-size: 10rem;
    color: gold;
}

span{
    font-size: 6rem;
    color: gold;
}