@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
     font-family: "Playfair", serif;
    
    }


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: antiquewhite;
}

.container{
    width: 80%;
    height: 700px;
}

.h1{
    font-size: 5rem;
    font-style: italic;

}

.button{
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
}