*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 4rem;
    gap: 40px;
    color: #fff;
    position: relative;
}

h1{
    font-size: 5rem;
}

.sub-heading{
    width: 700px;
    font-size: 1.5rem;
    text-align: justify;
}

.arrow{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 50%;
    bottom: 100px;
    margin: auto;
    border-radius: 50%;
    transition: ease-in;
    animation: bounce 1.5s infinite;
    cursor: pointer;
    
}

.arrow::before{
    content: '';
    position: absolute;
 
    width: 12px;
    height: 12px;
    top: 8px;
    left: 11px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);

}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }

    20%{
        transform: translateY(15px);
    }

    40%{
        transform: translateY(0);
    }
}

@-webkit-keyframes bounce {
    0%{
        transform: translate(0);
    }

    20%{
        transform: translate(15px);
    }

    40%{
        transform: translate(0);
    }
}

.fade-in{
    opacity: 1;
    transition: 1s all ease-in;
}

.fade-out{
    opacity: 0;
    transition: 1s all ease-out;
}

.container2{
    min-height: 100vh;
    background-color: red;
}


