body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
    position: relative;
    z-index: -1;
}

body::before {
    content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s ease;
}


.image-container{
    width: 200px;
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.7s;
    z-index: 2;
}


.image-container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--1)*45deg)) translateZ(400px);
}


.image-container span img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}


.button-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 2;
}

button{
    width: 100px;
    height: 2rem;
    text-transform: capitalize;
     border: none;
     background-color: crimson;
     color: aliceblue;
     cursor: pointer;
}