*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body{
    padding: 0 50px;
}

.hero{
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.hero-header{
    width: 100%;
    height: 4rem;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: black;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;

}

.list-container{
    display: flex;
    align-items: center;
    gap: 50px;
}

.list-items{
    list-style: none;
    text-transform: capitalize;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .hero{
        padding: 0;
    }
    .hero-header{
        padding: 0 20px;
    }
    .logo{
        font-size: 1.4rem;
    }
     
}

@media(max-width: 767px){

  
      .hero{
        padding: 0;
    }
    .hero-header{
        padding: 0;
    }
    .logo{
        font-size: 1rem;
    }

    .list-container{
    font-size: 14px;
    gap: 10px;
}
}

.hero-content{
    width: 100%;
    height: auto;
   
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
}

.left-hero , .right-hero{
    flex: 1;

    flex-grow: 1;
    flex-basis: 300px;
}

.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}

.text-content{
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.text-paragraph{
    width: 490px;
    line-height: 2rem;
    font-size: 1.4rem;
}

.learnbtn{
    padding: 10px 30px;
    margin-top: 30px;
    border: none;
    background-color: #472929;
    color: #fff;
    text-transform: capitalize;

}

.right-hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-hero{
   width: 400px;
   height: 400px;
   position: relative;
}

.image-hero::before{
    position: absolute;
    width: 300px;
    height: 400px;
    content: '';
    background-image: url(https://images.unsplash.com/photo-1578390432942-d323db577792?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 0;
}

.image-hero::after{
     position: absolute;
    width: 300px;
    height: 400px;
    content: '';
    background-image: url(https://images.unsplash.com/photo-1595708615852-4dbfb63e19f7?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: -50px;
    bottom: -180px;
}


@media (min-width: 768px) and (max-width: 1024px) {
   .hero-content{
    padding: 0;
    margin-top:0;
   }

   .text-content{
    font-size: 4rem;
   }

   .text-paragraph{
    font-size: 1rem;
    line-height: 1.5rem;
   }
     
}


@media(max-width: 767px){
  .hero-content{
    padding: 0;
    margin-top:0;
   }
    
    .left-hero{
        text-align: center;
    }
    .text-content{
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

    .text-paragraph{
        width: 300px;
    }

    .image-hero::after{
        width: 200px;
        height: 300px;
        bottom: -100px;
        left: -30px;
    }

    .image-hero{
   width: 300px;
   height: 300px;
   position: relative;
}

    .image-hero::before{
        width: 200px;
        height: 300px;
    }
}