*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}




.container{
    position: relative;
    left: 0;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: url('https://plus.unsplash.com/premium_photo-1682097238346-3f2a677ccfe6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 4rem;
}

.button{
    padding: 50px;
    font-size: 5rem;
    color: rgb(204, 47, 41);
    font-weight: bolder;
    transition: all 1s;
    animation: bounce 1s ease infinite;
    cursor: pointer;
}

@keyframes bounce {

    0%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    50%{
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }

    100%{
        transform: translateY(0);
        animation-timing-function: ease-in-out;
    }
    
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 4;
    background-color: #131313;
    padding: 200px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}


.delete{
   position: absolute;
   right: 200px;
   top: 100px;
   color: red;
   font-size: 4rem;
   cursor: pointer;
}


