*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.insert{
    min-width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #ffff;
    justify-content: center;
    padding: 20px;
}

.key{
    padding: 10px 5rem;
    background-color: blueviolet;
    color: #fff;
    display: flex;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    text-transform: capitalize;
    position: relative;
}


span{
    font-size: 20px;
}

