*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #212121;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;
    flex-direction: column;
}


.container-output{
    width: 70%;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-output .value-increment{
   min-width: 100%;
   min-height: 100%;
   background-color: #151515;
   text-align: center;
   color: #fff;
   font-size: 10rem;
   border: none;
}


.operator{
     width: 70%;
     height: 11rem;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 40px;

}

.operator .btnIncrement{
    padding: 1.5rem;
    background-color: rgb(67, 89, 201);
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    border: none;
    width: 300px;
    
}

.operator .save{
    padding: 1.5rem ;
    background-color: rgb(67, 201, 118);
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    border: none;
    width: 300px;
}

.saves-intries{
    width: 70%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
}

.saves-intries .result{
    font-size: 2rem;
}

