*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;

}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    
}

.container .buttons{
    width: 80%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    gap: 60px;

}

.buttons .button1{
    padding: 2rem 5rem;
    border: 2px solid #faebd7;
    background-color: transparent;
    color: #030303;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.button1::before{
    content: 'DOWNLOAD';
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #faebd7;
    transform:translateY(100%);
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1:hover::before{
    transform: translateY(0);
    cursor: pointer;
}


 .button2{
     padding: 2rem 5rem;
    border: 2px solid #2957bb;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    position: relative;
}

.button2::before{
    content: 'BUTTON';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #9f1222;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  lets provide the animation and rotation*/
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

/* adding after effect for the button 2 */

.button2::after{
  content: 'BUTTON';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background-color: #11c532;
  /* center the text */
  display: flex;
  align-items: center;
  justify-content: center;

  /* animation  */

  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.35s;
}

/* adding hover effect for the button2 */

.button2:hover::before, .button2:hover::after{
    transform: rotateX(0);
}


.button3{
     width: 200px;
    height: 60px;
    border: 2px solid #9f1222;
}

.button4{
     width: 200px;
    height: 60px;
    border: 2px solid #11c532;
}

.button5{
     width: 200px;
    height: 60px;
    border: 2px solid #c511a4;
}







