*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;

}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555;
    
}

.container .buttons{
    width: 80%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    gap: 60px;

}

.buttons .button1{
    padding: 2rem 5rem;
    border: 2px solid #faebd7;
    background-color: transparent;
    color: #030303;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.button1::before{
    content: 'DOWNLOAD';
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #faebd7;
    transform:translateY(100%);
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1:hover::before{
    transform: translateY(0);
    cursor: pointer;
}


 .button2{
     padding: 2rem 5rem;
    border: 2px solid #fff;
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.button2::before{
    content: 'BUTTON';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #9f1222;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  lets provide the animation and rotation*/
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

/* adding after effect for the button 2 */

.button2::after{
  content: 'BUTTON';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background-color: #11c532;
  /* center the text */
  display: flex;
  align-items: center;
  justify-content: center;

  /* animation  */

  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.35s;
}

/* adding hover effect for the button2 */

.button2:hover::before, .button2:hover::after{
    transform: rotateX(0);
}


.button3{
    width: 300px;
    height: 70px;
    background-color: transparent;
    color: #faebd7;
    border: none;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;

}

/* adding before for css button 3 */

.button3:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background: #11c532;
    z-index: 1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: top;
}

.button3:after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 3px;
    top: 3px;
    background: aqua;
    z-index: 1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;

}

/* .button3:hover{
    background-color: blue;
} */

.button3:hover::before{
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}

.button3:hover::after{
    top: 6px;
   left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}


.button4{
    padding: 2rem 5rem;
    color: #fff;
    background-color: #1717b3;
    border: none;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

}
.button4::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    left: -10px;
   border-top: 4px solid #ffffff;
   border-left: 4px solid #fff;
    transition: all 0.2s;


}

.button4::after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    transition: all 0.2s;
}

.button4:hover::before{
    width: 90%;
    height: 100%;
    border-top: 4px solid #ffffff;
    border-left: 4px solid #fff;

}

.button4:hover::after{
    width: 90%;
    height: 100%;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

.button5{
     width: 200px;
    height: 60px;
    border: none;
    background-color: #fff;
    position: relative;
    color: #000;
    border-radius: 100px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.button5::before{
    content: '';
    position: absolute;
    color: #2b2929;
 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aa6b6b;
    border-radius: 100px;
    transition: 0.5s ease-in-out;
    z-index: -1;

}

.button5:hover::before{
    transform: scaleX(1.4) scaleX(1.6);
     opacity: 0;
}

.button5:hover{
    transform: translateX(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   
}

.button5:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}








