*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #fff;
}


.container{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.close{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 50%;
   
    top: 50px;
    right: 30px;
    z-index: 5;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

span:nth-child(1){
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: rotate(-50deg);

}
span:nth-child(2){
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: rotate(45deg);
   
}


.images{
    width: 300px;
    height: 400px;
}

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images.active{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s ease;
    
}

.images.active img{
    width: 400px;
    height: 600px;
}

.close.active {
    opacity: 1;
    cursor: pointer;
}