*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    padding: 0 40px;
}

.header{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    font-size: 2rem;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: none;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    gap: 100px;
    list-style: none;
    text-transform: capitalize;
}

.registerBtn{
    background-color: #333;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: capitalize;
    color: #fff;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .logo{
        font-size: 1.4rem;
    }
  .links-container{
    padding: 0 20px;
    gap: 30px;
  }
}

@media(max-width: 767px){

       .logo{
        font-size: 1rem;
    }
  .links-container{
    padding: 0 20px;
    gap: 30px;
    font-size: 10px;
  }

  .registerBtn{
    padding: 10px 20px;
    font-size: 10px;
  }
}



/* herroo section css */

.hero{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left-hero{
  flex: 1;
  padding: 150px 150px;

}

.text-hero{
  font-size: 5rem;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

.high-hero{
  color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph-context{
  margin-top: 30px;
  line-height: 1.6rem;
  font-size: 1.2rem;
}

.button-container{
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.learnBtn{
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  font-weight: 800;
}

.righ-side{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container{
  width: 600px;
  height: 600px;
  background-color: #a7bbb4;
  border-radius: 50%;
  flex-basis: 600px;
  position: relative;
  
}

.image-container::before{
  content: '';
  width: 400px;
  height: 400px;
  left: 40px;
  bottom: 100px;
  background-image: url('./images/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}


@media (min-width: 768px) and (max-width: 1024px) {

   .left-hero{

  padding: 150px 10px;

}

.text-hero{
  text-align: center;
}

.paragraph-context{
  text-align: center;
}


.button-container{
  width: 100%;
  align-items: center;
  justify-content: center;

}

.image-container{
   width: 500px;
   height: 500px;
   flex-basis: 500px;
}
}


@media(max-width: 767px){
    .left-hero{

  padding: 50px 10px;

}

.text-hero{
  text-align: center;
  font-size: 3rem;
}

.paragraph-context{
  text-align: center;
}


.button-container{
  width: 100%;
  align-items: center;
  justify-content: center;

}

.image-container{
   width: 300px;
   height: 300px;
   flex-basis: 300px;
}

.image-container::before{
  width: 200px;
  height: 200px;
  left: 20px;
  bottom: 40px;
}

}


/* ratings css */

.ratings{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding: 0 50px 0 0;
  flex-wrap: nowrap;
  margin-top: 70px;
}

.ratings-container{
  flex-basis: 200px;
}

.ratings-text{
  font-size: 5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
}

.ratings-context{
  text-transform: capitalize;
  color: #333;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .ratings-text{
    font-size: 4rem;
  }

  .ratings{
    padding: 0;
  }

  .ratings-container{
  flex-basis: 200px;
}

}


@media(max-width: 767px){
  .ratings{
    padding: 0;
  }

  .ratings-text{
    font-size: 2rem;
  }

  .ratings-container{
  flex-basis: 200px;
}
}


/* categories css  section*/

.catergoies{
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.categories-text{
  font-size: 6rem;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

.high-cate{
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

.categories-item-container{
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.categories-items{
  width: 360px;
  height: 460px;
  border-radius: 50% 50% 0 0;
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image-categories{
  width: 100%;
  height: 350px;
  background-color: #a7bbb4;
  position: relative;
}

.categories-items:nth-child(1) .image-categories::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('./images/image1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.categories-items:nth-child(2) .image-categories::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('./images/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.categories-items:nth-child(3) .image-categories::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('./images/image4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-categories{
  width: 100%;
  background-color: #333;
  height: 110px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  text-transform: capitalize;
}

.arrow-container{
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  font-size: 5rem;
  font-weight: 600;
  margin: 40px;
  cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1024px){
  .categories-item-container{
    gap: 50px;
  }
}


@media (max-width: 767px){
   .categories-text{
  font-size: 3rem;

}

  .categories-item-container{
    gap: 50px;
  }

  .categories-items{
  width: 240px;
  height: 340px;

  }
  .arrow{
    font-size: 3rem;
    margin-top: 20px;
  }
} 


/*  choose us css */

.choose-section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
}

.left-choose,.right-choose{
  flex: 1;
  flex-grow: 1;
  flex-basis: 400px;

}

.left-choose{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.image-choose{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #a7bbb4;
  position: relative;
}

.image-choose::before{
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  background-image: url('./images/image5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right-choose{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-choose{
  font-size: 5rem;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;

}

.high-choose-text{
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

.context-choose{
  width: 600px;
  font-size: 1.2rem;
  line-height: 2rem;

}

.container-choose-description{
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:start;
  gap: 20px;
  flex-wrap: wrap;
}

.container-choose-items{
  flex-grow: 1;
  flex-basis: 300px;
 max-width: 300px;
 padding: 30px 30px;
 display: flex;
 flex-direction: column;
 gap: 30px;
 text-transform: capitalize;
 border-radius: 5px;
 position: relative;
 
}

.titles-choose{
  color: grey;
}


.container-choose-items:nth-child(1){
  background-color: #a7bbb4;
}

.container-choose-items:nth-child(1) .description-choose {
  color: #fff;
}

.container-choose-items:nth-child(1) .titles-choose {
  color: #000;
}


.container-choose-items:nth-child(4){
  background-color: #a7bbb4;
}

.container-choose-items:nth-child(4) .description-choose {
  color: #fff;
}

.container-choose-items:nth-child(4) .titles-choose {
  color: #000;
}

.container-choose-items:nth-child(1)::before{
  position: absolute;
     content: "\2605";
     font-size: 2rem;
     left: -10px;
     top: -25px;
}

.container-choose-items:nth-child(4)::before{
  position: absolute;
     content: "\2605";
     font-size: 2rem;
     left: -10px;
     top: -25px;
}

@media (max-width: 767px){
  .image-choose{
  width: 300px;
  height: 300px;
  }

  .image-choose::before{
  content: '';
  width: 200px;
  height: 200px;
}
.context-choose{
  width: 300px;
  text-align: center;
}
.text-choose{
  font-size: 3rem;
}
}


/* best features css */

.features{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
  padding: 100px;
}

.left-side-features,.right-side-features{
  flex: 1;
  flex-grow: 1;
  flex-basis: 400px;
}

.left-side-features{
 display: flex;
  gap: 30px;
  flex-direction: column;
  
}

.text-features{
  font-size: 5rem;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}

.high-features-text{
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}
 

.container-features-description{
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:start;
  gap: 20px;
  flex-wrap: wrap;
}

.container-features-items{
  flex-grow: 1;
  flex-basis: 300px;
 max-width: 300px;
 padding: 30px 30px;
 display: flex;
 flex-direction: column;
 gap: 30px;
 text-transform: capitalize;
 border-radius: 5px;
 position: relative;
 background-color: #a7bbb4;
 color:#333;
}

.container-features-items::before{
   position: absolute;
     content: "\2605";
     font-size: 2rem;
     left: -10px;
     top: -20px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #000;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
}

.right-side-features{
  display: flex;
  align-items: center;
  justify-content:center;
}

.image-features{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #a7bbb4;
  position: relative;
}

.image-features::before{
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  background-image: url('./images/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media (min-width: 768px) and (max-width: 1024px){
  .features{
    padding: 10px;
  }
}


@media (max-width: 767px){
    .features{
    padding: 10px;
  }

  .image-features{
  width: 300px;
  height: 300px;
}

.text-features{
  font-size: 3rem;
}

.image-features::before{
  width: 250px;
  height: 250px;
}
} 


/* footer css */


/* footer css  */

.footer{
    width: 100vw;
    background-color: #333;
    margin-left: -50px;
    padding: 100px;
    height: 770px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-footer-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text-footer{
    color: #fff;
    text-transform: capitalize;
    font-size: 2.4rem;
}

.footer-context{
    color: #fff;
    font-size: 1.2rem;
}


@media (max-width: 767px) {
   .footer{
    align-items: start;
     padding: 30px 30px;
   }
  
}

