*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    background-color: #131313;
}




.container{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    gap: 50px;
}

/* first navbar list style */

.container .navbarContainer{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.navbar{
    width: 100%;
    height: 200px ;

}

.navbar_ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar_ul .items{
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    position: relative;
    cursor: pointer;
    color: #fff;
}

.items::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
      transition: all 1s;
      transform: scale(0);
    z-index: 1;
}

.items::after{
    content: '';
    position: absolute;
    bottom:0;
    right:0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: right;
 transition: all 1s;
      transform: scale(0);
    z-index: 1;
}

.items:hover::before{
 transform: scale(1);

}

.items:hover::after{
 transform: scale(1);
}


/* second nav bar  */


.navbar2{
    width: 100%;
    height: 200px ;

}

.navbar_ul2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar_ul2 .items2{
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    position: relative;
    cursor: pointer;
    color: #fff;
       transition: all 1s;
}


.items2::before{
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    transition: all 1s;
    transform-origin: top;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    transform: scale(1);
   
}

.items2::after{
 content: '';
    position: absolute;
    right: 0;
    bottom: -30px;
    transition: all 1s;
    transform-origin: bottom;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    transform: scale(1);
}

.items2:hover::before{
  
    opacity: 1;
    top: -10px;
    transform: scale(1)
}


.items2:hover::after{
    opacity: 1;
    bottom: -10px;
    transform: scale(1)
}

.items2:hover{
    transform:scale(1.1);
    background-color: #fff;
    color: #000;
}

