@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    position: relative;
    background-color: #121212;
}

/* Navbar base */
.links-container {
    width: 100%;
    height: 4rem;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: absolute;
    left: 0;
}

.links-container .logo {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    text-transform: capitalize;
}

.list-container-ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.lists-links {
    color: #fff;
    text-transform: capitalize;
    list-style: none;
}

/* ======== Tablet View ======== */
@media (max-width: 1024px) {
    .links-container {
        padding: 0 50px;
    }
    .list-container-ul {
        gap: 30px;
    }

    .logo{
        font-size: 2rem;
    }
}

/* ======== Mobile View ======== */
@media (max-width: 768px) {
    .links-container {
        align-items: center;
        height: auto;
        padding: 10px 20px;
    }

    .links-container .logo{
      font-size: 1rem;
    }


    .list-container-ul {
        align-items: flex-start;
        gap: 15px;
        margin-top: 10px;
        font-size: 12px;
    }
}


/* hero section css*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.hero-text{
    font-size: 8rem;
    text-transform: uppercase;
    color: #fff;
}

.image-hero-container{
    width: 500px;
    height: 500px;
}

.image-hero{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-text-2{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}


/* Tablet only: between 845px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-text {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
  }
  .hero-text-2 {
    font-size: 3rem;
  }
}

/* Mobile only: up to 844px */
@media(max-width: 767px) {
  .image-hero-container {
    width: 400px;
    height: 400px;
  }
  .hero-text {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
  }
  .hero-text-2 {
    font-size: 1.4rem;
  }
}

/* our story css */


.ourstory{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.left-container{
    flex: 1;
    align-items: center;
  
}

.left-container-image{
    width: 500px;
    height: 500px;
}

.story-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.right-container-text{
    flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   gap: 15px;
}

.story-text{
    font-size: 6rem;
    text-transform: capitalize;
    color: #fff;
    text-align: center;

}

.paragraph-story{
    width: 500px;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #fff;
}


.storyBtn{
    padding: 10px 30px;
    color:rgb(0, 0, 0);
    background-color: rgb(238, 174, 24);
    border: none;
    cursor: pointer;
}


/* Tablet only: between 845px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
   
    .ourstory{

        justify-content: center;
        gap: 100px;
    }

.left-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
  
}
.right-container-text{
  align-items: center;
}

}

/* Mobile only: up to 844px */
@media(max-width: 767px) {

       .ourstory{
        margin-top: -100px;
        justify-content: center;
        gap: 100px;
    }

      
    .left-container-image{
    width: 300px;
    height: 300px;
  }

.right-container-text{
  align-items: center;
}

.paragraph-story{
    width: 300px;
    text-align: center;
}

  .story-text{
    font-size: 3rem;
  }

}
