*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    background-color: #212121;

}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.toggle-btn{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: #d74b4b;
    transition: 1s;
}

.toggle-btn span:nth-child(2){
    top:  50%;
    width: 70%;
}

.toggle-btn span:nth-child(3){
    top:  75%;
    width: 50%;
}

.toggle-btn.active span:nth-child(2){
    display: none;
}

.toggle-btn.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}

.toggle-btn.active span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
    width: 100%;
}

.page-container{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
    left: 0;
    background-color: #151515;
}


.overlay{
    position: fixed;
    bottom: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #131313;
    z-index: 3;
}

.page{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    background-size: cover;
    background-position: center;
 
}

.page.active{
    opacity: 1;
    pointer-events: all;
}

.page.home{
    background: url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
}

.page.project{
    background: url(https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?q=80&w=1176&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
}

.page.about{
    background: url(https://images.unsplash.com/photo-1682686581854-5e71f58e7e3f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
}


.page .title{
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}



/* javscrpit animation and rotation */

.page-container.active{
    left: -10px;
    transform: rotateY(45deg) scale(0.5);
}


.nav-list{
    position: absolute;
    top: 40%;
    right: 10vw ;
    opacity: 0;
    font-family: sans-serif;
}

.link{
    position: relative;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    list-style: none;
    transition: 0.5s;
    padding: 10px;
    font: 20px;
    cursor: pointer;
    font-weight: 700;
}

.nav-list.show{
    opacity: 1;
}

/* animation for javascript */

@keyframes slide {
    100%{
        left: 100%;
    }
}